/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}
h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}
.hiddenh {
    display: none;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}



#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}
/* Hero section*/
#hero {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpeg') no-repeat center center/cover ;
    position: relative;
}

#cover-text {
    background-color: rgba(241, 109, 107, .7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

/* Reasons section */
#reasons {
    padding: 20px auto 20px auto;
    width: 90%;
    margin: 20px auto;
}
#reasons > h2 {
    font-size: 280%;
    text-align: center;
    margin-bottom: 20px;
}

#benefits > hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}
#benefits > div {
    margin: 20px;

}
#benefits > div > p {
    padding: 20px;
}
#circle-cover-bg {
    background: url('../images/reasons-image.webp') no-repeat center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}
#benefits-img {
    display: flex;
    align-items: center;
    justify-content: center;

}
    
}
#cover-text > h2, #cover-text > h3 {
    color: white;
}

/* Meetups section */
#meetups {
    padding: 20px 40px 20px 40px;
}
#times {
    margin-top: 20px;
    background-image: url(../images/dublin-city.webp);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#times div  {
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.7);
    flex-basis: 200px;
    flex-grow: 1;
    border: 2px solid white;
}
#times h3 {
    color: #fafafa;
}

/* Gallery */
#photos img {
    width: 100%;
    line-height: 1em;
}
#photos {
    line-height: 0;
}

/* Signup form */
#main-signup {
    display: flex;
    flex: column;
}
#signup {
    background-image: url(/assets/images/signup-image.webp);
    background-size: cover;
    display: flex;
    padding: 20px auto 20px auto;
    width: 90%;
    margin: 20px auto;
    flex-basis: 200px;
    flex-grow: 1;
    color:#fafafa;
    text-align: center;
    
}
#signup h2 {
    color: #fafafa;
}
#signup-form {
    margin: 30px 30px 30px 30px;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px 30px 30px 30px:
    
}
#signupform > div {
    margin-bottom: 20px;
}
.join-button {
    border-radius: 2px;
    background-color: #454b1b;
    color:#fafafa;
    font-size: 100%;
    padding: 15px 32px 15px 32px;
}

.text-input {
    border: 1px solid #fafafa;
    border-radius: 2px;
    background-color: transparent;
}

.radio-buttons {
    flex: space-between;

}
/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
   

}
#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
    
}

#social-networks li {
    list-style-type: none;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }

    /* Hero section */
    #cover-text {
        width: 300px;
        right: 50px;
    }

    /* Reasons section */
    #reasons {
        padding: 20px auto 0 auto; /* Add 'auto' for left and right margins */
        width: 90%;
        margin: 0 auto; /* Center the section horizontally */
    }
    #benefits > div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #benefits-phys > div, #benefits-ment > div {
        width: 75%;
    }
    #benefits-ment > div {
        text-align: end;
        align-self: flex-end;
        padding-right: 40px;
    }
    
    /* Meetups section */
    #meetups {
    padding: 20px 20px 20px 20px;
    text-align: center;
    }
    #times {
    margin-top: 20px;
    }

}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
    }
}

/* wide screens */
@media screen and (min-width:1200px) {
    /* Reasons */
    #benefits {
        display: flex;
        flex-direction: rows;
    }
    #benefits > div {
        flex:1;
    }
    #benefits-img {
        order: 0;
    }
    #benefits-ment {
        order: 1;
    }
    #benefits-ment > div {
        align-self: flex-start;
    }
    #benefits-phys > div {
        align-self: flex-end;
    }
    
}