/* Asterisk wildcard selector to ovveride browser default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: 0;

}

/* Header */
header {
    background-color:lightcoral
}
/* Main */
main {
    background-color: lightblue;
}
/* Footer */
footer {
    background-color: orange;
}
